---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const sbApi = useStoryblokApi();
const { data } = await sbApi.get("cdn/stories/blog", {
  version: "draft",
});

const story = data.story;
const storySEO = {
  title: story.content.page_title,
  description: story.content.meta_description,
  ogImage: story.content.og_image?.filename,
  metaRobots: story.content.noindex
};
---

<BaseLayout
  title={storySEO.title}
  description={storySEO.description}
  ogImage={storySEO.ogImage}
  metaRobots={storySEO.metaRobots}
>
<section class="hero no-b-padding">
  <div class="ipu">
        <div>
          <p class="prehead">Blog</p>
            <h1>Perspective.</h1>
            <p>Explore our perspective on SEO, PPC, Data, Digital Consumer Intelligence and more.</p>
        </div>
        <div>
          <img src="/public/img/illustrations/il_gdc-11.png" alt="Marketing Agency Gray Dot Company" width="480" height="280" />
        </div>
    </div>
  </section>

<!--  <StoryblokComponent blok={story.content} /> --> 
</BaseLayout>
