---
import { storyblokEditable } from '@storyblok/astro'
 
const { blok } = Astro.props
const TitleElement = blok.heading_level || 'p'
const bgcolor = blok.bgcolor || 'white'

let href = null
if (blok.link) {
  if (blok.link.linktype === 'url') {
    href = blok.link.url;
  } else if (blok.link.linktype === 'story' && blok.link.story) {
    href = '/' + blok.link.story.full_slug;
  }
}
---

<div
  {...storyblokEditable(blok)}
>
<section class={`align-middle img-left bg-${bgcolor}`}>
  <div class='ipu'>
    <div class='justify-self-center'>
      <img
      class='object-contain object-center'
      src={`${blok.image.filename}/m/`}
      />
    </div>

    <div>
      <p class='font-sans font-bold uppercase text-lg text-black'>{blok.prehead}</p>
      <TitleElement class='font-serif text-4xl text-light-teal py-6'>{blok.headline}</TitleElement>
      {blok.description && (
        <p class='font-sans text-grey'>{blok.description}</p>
      )}
      <a href={href}><button class="rounded-full my-3 p-3 bg-teal text-white">{blok.button_text}</button></a>
    </div>
  </div>
  </section>
</div>
