---
import { storyblokEditable } from "@storyblok/astro";
import { transformImageSrc } from "../utils/imageUtils";

const { blok } = Astro.props;
const TitleElement = blok.heading_level || "p";
const bgcolor = blok.bgcolor || "white";

let href = null;
let target = null;
if (blok.link) {
  if (blok.link.linktype === "url") {
    href = blok.link.url;
  } else if (blok.link.linktype === "story" && blok.link.story) {
    href = "/" + blok.link.story.full_slug;
  }
  if (blok.link.target) {
    target = blok.link.target;
  }
}
---

<section {...storyblokEditable(blok)} class={`bg-${bgcolor}`}>
  <div class="ipu">
    <div class="align-center">
      <p class="prehead">{blok.prehead}</p>
      <TitleElement class="blok-title">{blok.headline}</TitleElement>
      <div class="flex-wrap margin-l logo-carousel">
        {
          blok.images?.map((image) => (
            <div class="logo-carousel__item">
              <img src={transformImageSrc(`${image.filename}/m/`)} alt={`${image.alt}`} />
            </div>
          ))
        }
      </div>
      {
        blok.button_text && (
          <a href={href} class="btnPrimary">
            {blok.button_text}
          </a>
        )
      }
    </div>
  </div>
</section>
