---
import { storyblokEditable } from "@storyblok/astro";
import { transformImageSrc } from "../utils/imageUtils";

const { blok } = Astro.props;
const TitleElement = blok.heading_level || "p";
const PreheadElement = blok.prehead_level || "p";

let href = null;
if (blok.link) {
  if (blok.link.linktype === "url") {
    href = blok.link.url;
  } else if (blok.link.linktype === "story" && blok.link.story) {
    href = "/" + blok.link.story.full_slug;
  }
}
---

<section {...storyblokEditable(blok)} class="hero">
  <div class="ipu">
    <div>
      {blok.prehead && <PreheadElement class="prehead">{blok.prehead}</PreheadElement>}
      <TitleElement class="headline">
        {blok.headline}
      </TitleElement>
      <p>{blok.description}</p>
      {
        blok.button_text && (
          <a href={href} class="btnPrimary">
            {blok.button_text}
          </a>
        )
      }
    </div>
    <div class="img-hero-home">
      <img src={transformImageSrc(`${blok.image.filename}/m/`)} width="200" alt="decorative shape"/>
    </div>
  </div>
</section>
