---
import { storyblokEditable } from "@storyblok/astro";
import { transformImageSrc } from "../utils/imageUtils";

const { blok } = Astro.props;
const TitleElement = blok.heading_level || "p";
const blogs = blok.blogs;
---

<section {...storyblokEditable(blok)} class="ipu featured-blogs">
  <p class="prehead">{blok.prehead}</p>
  <TitleElement class="blok-title">{blok.headline}</TitleElement>
  <div class="articles-grid">
    {
      blogs?.map((blog) => {
        return (
          <a class="card-img-text" href={`/blog/${blog.slug}`}>
            <img
              class="img-aspect"
              src={transformImageSrc(`${blog.content.featured_image.filename}/m/`)}
              alt={blog.content.title}
              width="450"
              height="293"
            />
            <h4>{blog.content.title}</h4>
            <p class="btnTertiary">Read the blog ></p>
          </a>
        );
      })
    }
  </div>
</section>
