---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
const TitleElement = blok.heading_level || "p";
---

<div {...storyblokEditable(blok)}>
  <section class="inner-section">
    <div class="ipu">
      <div>
        <TitleElement class="inner-headline">
          {blok.headline}
        </TitleElement>
      </div>

      <div class="flex-wrap wrap-two">
        <div class="col-flex-row">
          <p class="title">01</p>
          <div>
            <p class="inner-highlight">
              {blok.highlight_1}
            </p>
            <p>
              {blok.description_1}
            </p>
          </div>
        </div>

        <div class="col-flex-row">
          <p class="title">02</p>
          <div>
            <p class="inner-highlight">
              {blok.highlight_2}
            </p>
            <p>
              {blok.description_2}
            </p>
          </div>
        </div>

        <div class="col-flex-row">
          <p class="title">03</p>
          <div>
            <p class="inner-highlight">
              {blok.highlight_3}
            </p>
            <p>
              {blok.description_3}
            </p>
          </div>
        </div>

        <div class="col-flex-row">
          <p class="title">04</p>
          <div>
            <p class="inner-highlight">
              {blok.highlight_4}
            </p>
            <p>
              {blok.description_4}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
