---
import { storyblokEditable } from "@storyblok/astro";
import Wysiwyg from "./Wysiwyg.astro";

const { blok } = Astro.props;

let href = null
if (blok.link) {
  if (blok.link.linktype === 'url') {
    href = blok.link.url;
  } else if (blok.link.linktype === 'story' && blok.link.story) {
    href = '/' + blok.link.story.full_slug;
  }
}
---

<div {...storyblokEditable(blok)}>
  {href ? (
    <a href={href}>
      {blok.icon?.filename && <img
        class="illustration"
        src={`${blok.icon.filename}/m/`}
        alt={`${blok.icon.alt}`}
      />}
      <p class="inner-highlight">{blok.highlight}</p>
      {blok.description && <Wysiwyg blok={blok} content={blok.description} />}
    </a>
  ) : (
    <>
      {blok.icon?.filename && <img
        class="illustration"
        src={`${blok.icon.filename}/m/`}
        alt={`${blok.icon.alt}`}
      />}
      <p class="inner-highlight">{blok.highlight}</p>
      {blok.description && <Wysiwyg blok={blok} content={blok.description} class="li-copy"/>}
    </>
  )}
</div>
