---
import { storyblokEditable } from "@storyblok/astro";
import Wysiwyg from "./Wysiwyg.astro";
import { transformImageSrc } from "../utils/imageUtils";

const { blok } = Astro.props;
const TitleElement = blok.heading_level || "p";
const ImagePlacement = blok.image_placement ? "img-left" : "img-right";
const bgcolor = blok.bgcolor || "white";

let href = null;
let target = null;
if (blok.link) {
  if (blok.link.linktype === "url") {
    href = blok.link.url;
  } else if (blok.link.linktype === "story" && blok.link.story) {
    href = "/" + blok.link.story.full_slug;
  }
  if (blok.link.target) {
    target = blok.link.target;
  }
}
---

<section {...storyblokEditable(blok)} class={`align-middle ${ImagePlacement} bg-${bgcolor}`}>
  <div class="ipu left-right">
    <div class="align-center">
      <img src={transformImageSrc(`${blok.image.filename}/m/`)} width="480" height="280" alt={`${blok.image.alt}`}/>
    </div>
    <div>
      {blok.prehead && <p class="prehead">{blok.prehead}</p>}
      <TitleElement class="blok-title">{blok.headline}</TitleElement>
      {blok.description && <Wysiwyg blok={blok} content={blok.description} />}
      {
        blok.button_text && (
          <a href={href} class="btnPrimary" target={target}>
            {blok.button_text}
          </a>
        )
      }
    </div>
  </div>
</section>
