---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import Wysiwyg from "./Wysiwyg.astro";

const { blok } = Astro.props;
const TitleElement = blok.heading_level || "p";
---

<section {...storyblokEditable(blok)}>
  <div class="ipu">
    <div>
      <img
        class="icon"
        src={`${blok.icon.filename}/m/60x0`}
        width="64"
        height="64"
        alt={`${blok.icon.alt}`}
      />
      <TitleElement class="blok-title">{blok.heading}</TitleElement>
      {blok.description && <Wysiwyg blok={blok} content={blok.description} />}
    </div>

    <div class="col-flex">
      {
        blok.list?.map((blok) => {
          return <StoryblokComponent blok={blok} />;
        })
      }
    </div>
  </div>
</section>
