---
import { storyblokEditable } from '@storyblok/astro'
import { transformImageSrc } from "../utils/imageUtils";
import Wysiwyg from "./Wysiwyg.astro"; 

const { blok } = Astro.props

let href = null;
let target = null;
if (blok.link) {
  if (blok.link.linktype === "url") {
    href = blok.link.url;
  } else if (blok.link.linktype === "story" && blok.link.story) {
    href = "/" + blok.link.story.full_slug;
  }
  if (blok.link.target) {
    target = blok.link.target;
  }
}
---

<div {...storyblokEditable(blok)} class="card-testimonial">
  <img src={transformImageSrc(`${blok.headshot.filename}/m/160x160`)} alt={blok.headshot.alt} width="80" height="80" />
  {blok.quote_body && <Wysiwyg blok={blok} content={blok.quote_body} class="quote"/>}
  <p>{blok.name} · {blok.job_title}</p>
</div>