---
import { storyblokEditable } from "@storyblok/astro";
import Wysiwyg from "./Wysiwyg.astro";

const { blok } = Astro.props;
const TitleElement = blok.heading_level || "p";
const LeftBullets = blok.left_bullets || "li-arrow";
const LeftColor = blok.left_color || "card-teal";
const RightBullets = blok.right_bullets || "li-arrow";
const RightColor = blok.right_color || "card-teal";

let href = null;
let target = null;
if (blok.link) {
  if (blok.link.linktype === "url") {
    href = blok.link.url;
  } else if (blok.link.linktype === "story" && blok.link.story) {
    href = "/" + blok.link.story.full_slug;
  }
  if (blok.link.target) {
    target = blok.link.target;
  }
}
---

<section {...storyblokEditable(blok)}>
  <div class="ipu">
    <div>
      <p class="prehead">{blok.prehead}</p>
      <TitleElement class="blok-title">{blok.headline}</TitleElement>
      {blok.description && <Wysiwyg blok={blok} content={blok.description} />}
      {
        blok.button_text && (
          <a href={href}>
            <button class="btnPrimary">{blok.button_text}</button>
          </a>
        )
      }
    </div>
    <div class={`${LeftColor} ${LeftBullets} services-list `}>
      {blok.left_content && <Wysiwyg blok={blok} content={blok.left_content} />}
    </div>
    <div class={`${RightColor} ${RightBullets} services-list`}>
      {
        blok.right_content && (
          <Wysiwyg blok={blok} content={blok.right_content} />
        )
      }
    </div>
  </div>
</section>
