---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../style/global.css";
import { transformImageSrc } from "../utils/imageUtils";

const sbApi = useStoryblokApi();
const { data } = await sbApi.get("cdn/stories/contact", {
  version: "draft",
});

const story = data.story;
const storySEO = {
  title: story.content.page_title,
  description: story.content.meta_description,
  ogImage: story.content.og_image?.filename,
  metaRobots: story.content.noindex,
};
---

<BaseLayout
  title={storySEO.title}
  description={storySEO.description}
  ogImage={storySEO.ogImage}
  metaRobots={storySEO.metaRobots}
>
  <StoryblokComponent blok={story.content} />
  <section>
    <div class="ipu tri">
      <div>
        <h2>
          Serving businesses across the world, with the majority based in the
          US, Canada and the UK.
        </h2>
      </div>
      <div class="contact-form">
        <form action="https://www.formbackend.com/f/6aec581b5d573ee6" method="POST" name="contact" id="contact">
          <fieldset>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required />

            <label for="fname">First name</label>
            <input type="text" id="fname" name="fname" required />

            <label for="lname">Last name</label>
            <input type="text" id="lname" name="lname" required />

            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" cols="50" required
            ></textarea>
          </fieldset>

          <div class="footnote">
            <p>
              The Gray Dot Company is committed to protecting and respecting
              your privacy, and we'll only use your personal information to
              administer your account and to provide the products and services
              you requested from us. From time to time, we would like to contact
              you about our products and services, as well as other content that
              may be of interest to you. If you consent to us contacting you for
              this purpose, please tick below to say how you would like us to
              contact you:
            </p>
            <div class="check-consent">
              <input type="checkbox" id="consent" name="consent" value="yes" />
              <span class="checkmark"></span>
              <label for="consent"
                >I AGREE TO RECEIVE OTHER COMMUNICATIONS FROM THE GRAY DOT
                COMPANY.</label
              >
            </div>
            <p>
              You can unsubscribe from these communications at any time. For
              more information on how to unsubscribe, our privacy practices, and
              how we are committed to protecting and respecting your privacy,
              please review our Privacy Policy. By clicking submit below, you
              consent to allow The Gray Dot Company to store and process the
              personal information submitted above to provide you the content
              requested.
            </p>
          </div>
          <input class="btnPrimary" type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </section>


</BaseLayout>
