---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const sbApi = useStoryblokApi();
const { data } = await sbApi.get("cdn/stories/home", {
  version: "draft",
});

const story = data.story;
const storySEO = {
  title: story.content.page_title,
  description: story.content.meta_description,
  ogImage: story.content.og_image?.filename,
  metaRobots: story.content.noindex
};
---

<BaseLayout
  title={storySEO.title}
  description={storySEO.description}
  ogImage={storySEO.ogImage}
  metaRobots={storySEO.metaRobots}
>

<section class="hero">
  <div class="ipu">
        <div>
            <h1>Tomorrow’s marketing, today.</h1>
            <p>We’re a modern data and search marketing agency keeping brands two steps ahead in a landscape where flux is the only constant.</p>
            <a href="/contact" class="btnPrimary">Connect with an expert</a>
        </div>
        <div class="img-hero">
          <img src="img/illustrations/img_home-hero.png" alt="Marketing Agency Gray Dot Company" title="Gray Dot Company" width="712" height="512" />
        </div>
    </div>
  </section>


<section class="align-center">
  <div class="ipu">
        <div>
            <h2>The difference is in the data.</h2>
            <p>Cut-and-paste formulas are falling short, pay-to-play is getting pricey, and search has SEOs scratching their heads. Is digital marketing dead? Far from it.</p> 
      <p><strong>Our intelligence-first approach taps into game-changing insights about your audience, brand, and market — making them the heart of meaningful strategies that break through the “meh.”</strong></p>
        </div>
    </div>
  </section>


<section class="bg-grey inner-section">
  <div class="ipu">
        <div>
          <p class="prehead">WHAT WE DO</p>
            <h2>Building solutions. <br />Breaking silos.</h2>
            <p>Data, market intelligence, and search marketing don’t live in a vacuum. <br />We connect the dots between disciplines to solve problems, find answers, and spark growth.</p>
        </div>

        <div class="flex-wrap wrap-three services li-bold">
          <div class="col-flex-row">
            <img class="illustration" src="img/icons/ic_category-marketing_strategy.svg" alt="" width="64" height="64" />
            <div>
                <h3>Strategy</h3>
                <ul>
                  <li><a href="#" target="_blank">SEO Consulting ></a></li>
                  <li><a href="#" target="_blank">PPC Consulting ></a></li>
                  <li><a href="#" target="_blank">Content Marketing ></a></li>
                  <li><a href="digital-market-intelligence.html" target="_blank">Market Intelligence ></a></li>
                  <li>Competitive Research</li>
                </ul>
            </div>
          </div>

          <div class="col-flex-row">
            <img class="illustration" src="img/icons/ic_category-marketing_strategy.svg" alt="" width="64" height="64" />
            <div>
                <h3>Tech</h3>
                <ul>
                  <li><a href="#" target="_blank">TECHNICAL SEO ></a></li>
                  <li>JAVASCRIPT SEO</li>
                  <li>WEB MIGRATIONS</li>
                  <li>STRUCTURED DATA</li>
                  <li>INTERNATIONALIZATION</li>
                </ul>
            </div>
          </div>

          <div class="col-flex-row">
            <img class="illustration" src="img/icons/ic_category-marketing_strategy.svg" alt="" width="64" height="64" />
            <div>
                <h3>Data</h3>
                <ul>
                  <li><a href="#" target="_blank">AUDITING ></a></li>
                  <li>DASHBOARDING</li>
                  <li><a href="#" target="_blank">DATA STORYTELLING ></a></li>
                  <li>COMPLIANCE & PRIVACY</li>
                  <li><a href="#" target="_blank">ADVANCED TRACKING SETUP ></a></li>
                </ul>
            </div>
          </div>
      </div>
    </div>
  </section>


  <section class="align-middle img-left">
    <div class="ipu">
        <div>
          <p class="prehead">Our team</p>
            <h2>Powered by fresh <br/>perspective.</h2>
            <p>Gray Dot Co is women-owned, value-driven, and reimagining what it means to work with a digital marketing agency. We’re familiar faces in the industry bringing new ideas to the table as collaborators, not just consultants.</p>
            <a href="/team" class="btnPrimary">Get to know the Co</a>
        </div>
        <div class="add-margin-b">
          <img src="img/sam-tory-seo-marketing-experts-gray-dot-co-team.webp" alt="Sam and Tory, Marketing and SEO Experts, Gray Dot Company team" title="Sam and Tory, Marketing and SEO Experts, Gray Dot Company team" />
        </div>
    </div>
  </section>


  <section class="bg-grey inner-section">
    <div class="ipu">
        <div>
          <p class="prehead">Our clients</p>
            <h2>Lasting partnerships over logos.</h2>
        </div>
        <div class="flex-wrap logos">
          <img src="img/logos/logo_slate.svg" alt="Slate" title="Slate" width="224" height="114" />
          <img src="img/logos/logo_women-in-tech-seo.svg" alt="Slate" title="Slate" width="224" height="114" />
          <img src="img/logos/logo_oncrawl.svg" alt="Slate" title="Slate" width="224" height="114" />
          <img src="img/logos/logo_moz.svg" alt="Slate" title="Slate" width="224" height="114" />
          <img src="img/logos/logo_sitebulb.svg" alt="Slate" title="Slate" width="224" height="114" />
        </div>
    </div>
  </section>


  <section>
    <div class="ipu">
        <div>
          <img src="img/illustrations/il_gdc-8.png" alt="Gray Dot Company work" title="" width="480" height="280" />
        </div>

        <div class="size-two">
          <div class="add-margin-b">
            <p class="prehead">Our work</p>
              <h2>If you’ve got it, flaunt it.</h2>
          </div>

          <div class="col-flex-row">
            <a class="card-img-text" href="case-study.html" target="_blank">
              <img class="img-aspect" src="img/clients/img_gray-dot-co-client-arti.png" alt="" width="450" height="293" />
              <h4>Putting Artifact Uprising Back on the Up</h4>
              <p>A look back at turning post-migration challenges into ROI opportunities for a leading photo goods brand.</p>
              <p class="btnTertiary">READ THE CASE STUDY ></p>
          </a>
          <a class="card-img-text" href="case-study.html" target="_blank">
              <img class="img-aspect" src="img/clients/img_gray-dot-co-client.png" alt="" width="450" height="293" />
              <h4>2023 Grill Landscape: Market Insights Report</h4>
              <p>A market analysis with data-driven insights that show the power of Digital Market Intelligence.</p>
              <p class="btnTertiary">READ THE CASE STUDY ></p>
          </a>
          </div>
          <div>
              <a href="/results" class="btnPrimary">See our work</a>
          </div>
      </div>

    </div>
  </section>


  <section class="bg-grey">
    <div class="ipu">
        <div>
          <p class="prehead">DIGITAL CONSUMER INTELLIGENCE</p>
            <h2>Actionable, accessible consumer insights</h2>
            <p>For organizations looking for answers, Digital Consumer Intelligence (DCI) gives businesses access to quantifiable insights to inform their product, marketing, and operations strategies.</p>

      <p>Get faster, more accurate, and more comprehensive views of consumer opinions than ever before.</p>
            <a href="#" class="btnPrimary">Explore</a>
        </div>
        <div>
          <img src="img/illustrations/il_gdc-6.png" alt=" " width="480" height="280" />
        </div>
    </div>
  </section>


  <section class="inner-section">
    <div class="ipu">
          <div>
            <p class="prehead">Our content</p>
              <h2>Sharing all of our secrets.</h2>
          </div>

          <div class="flex-wrap wrap-four">
            <a class="card-img-text" href="article.html" target="_blank">
              <img class="img-aspect" src="img/clients/img_gray-dot-co-client-arti.png" alt="" width="450" height="293" />
              <p class="meta">
                October 6, 2022<br/>
                <span>SEO</span>
              </p>
              <h4>How to Create a Marketing Measurement Plan That Defines What Matters</h4>
              <p class="btnTertiary">Read the blog ></p>
          </a>
          <a class="card-img-text" href="article.html" target="_blank">
              <img class="img-aspect" src="img/clients/img_gray-dot-co-client.png" alt="" width="450" height="293" />
              <p class="meta">
                October 6, 2022<br/>
                <span>eCommerse, SEO</span>
              </p>
              <h4>The UGC SEO Playbook: Implement Strategies for Smart, Scalable Growth</h4>
              <p class="btnTertiary">Read the blog ></p>
          </a>
          <a class="card-img-text" href="article.html" target="_blank">
              <img class="img-aspect" src="img/clients/img_gray-dot-co-client-arti.png" alt="" width="450" height="293" />
              <p class="meta">
                October 6, 2022<br/>
                <span>SEO</span>
              </p>
              <h4>Content Pruning SEO: How to Resolve Cannibalization & Improve Quality</h4>
              <p class="btnTertiary">Read the blog ></p>
          </a>
          <a class="card-img-text" href="article.html" target="_blank">
              <img class="img-aspect" src="img/clients/img_gray-dot-co-client.png" alt="" width="450" height="293" />
              <p class="meta">
                October 6, 2022<br/>
                <span>Tech SEO, SEO</span>
              </p>
              <h4>Free Template: Next-Gen SEO Content Planning & Keyword Matrix</h4>
              <p class="btnTertiary">Read the blog ></p>
          </a>
          </div>
    </div>
</section>


  <section class="bg-grey img-left align-middle">
    <div class="ipu">
        <div class="add-margin-b">
          <p class="prehead">The podcast</p>
            <h2>Opinionated SEO Opinions™</h2>
            <p>The name says it all. Join hosts Sam Torres, Tory Gray, and Begum Kaya for an unapologetically nerdy (and opinionated!) podcast covering all things SEO. Each month, we tackle timely topics with some of our favorite folks in the search marketing world.</p>
            <a href="https://www.youtube.com/@GrayDotCo" class="btnPrimary">WATCH & SUBSCRIBE</a>
        </div>
        <div>
          <iframe style="border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/jb6jnRheb2o?si=Y1lMJWEYyn62PTaG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <div class="links-set align-center">
            <a href="https://www.youtube.com/@GrayDotCo" target="_blank"><img src="img/img_podcast-youtube.svg" alt="" width="100" height="50" /></a>
            <a href="https://open.spotify.com/show/6G2LDXn26gMd5Y7bUTBXY9?si=589a8937cb0e4e04" target="_blank"><img src="img/img_podcast-spotify.svg" alt="" width="100" height="50" /></a>
            <a href="https://podcasts.apple.com/us/podcast/opinionated-seo-opinions/id1606003617" target="_blank"><img src="img/img_podcast-itunes.svg" alt="" width="100" height="50" /></a>
          </div>
        </div>
    </div>
  </section>


<section class="no-h-padding testimonials">
  <div class="ipu">
      <div class="col-flex-row y-scroll align-center">
            <div class="card-testimonial">
              <img src="img/clients/julia-taylor-brown.jpg" alt=" " width="120" height="120" />
              <p class="quote">
                Oftentimes, agencies and consultants will lean on a one-size-fits-all approach of blanket best practices, but that was far from the case with The Gray Dot Company. They took the time to understand the inherent opportunities and limitations that were distinct to our business, crafting their recommendations and approach accordingly.
              </p>
              <p>ELIAS GROUHI  ·  Human who shouldn’t be quoted here</p>
            </div>
            <div class="card-testimonial">
              <img src="img/clients/julia-taylor-brown.jpg" alt=" " width="120" height="120" />
              <p class="quote">
                Oftentimes, agencies and consultants will lean on a one-size-fits-all approach of blanket best practices, but that was far from the case with The Gray Dot Company. They took the time to understand the inherent opportunities and limitations that were distinct to our business, crafting their recommendations and approach accordingly.
              </p>
              <p>ELIAS GROUHI  ·  Human who shouldn’t be quoted here</p>
            </div>
            <div class="card-testimonial">
              <img src="img/clients/julia-taylor-brown.jpg" alt=" " width="120" height="120" />
              <p class="quote">
                Oftentimes, agencies and consultants will lean on a one-size-fits-all approach of blanket best practices, but that was far from the case with The Gray Dot Company. They took the time to understand the inherent opportunities and limitations that were distinct to our business, crafting their recommendations and approach accordingly.
              </p>
              <p>ELIAS GROUHI  ·  Human who shouldn’t be quoted here</p>
            </div>
            <div class="card-testimonial">
              <img src="img/clients/julia-taylor-brown.jpg" alt=" " width="120" height="120" />
              <p class="quote">
                Oftentimes, agencies and consultants will lean on a one-size-fits-all approach of blanket best practices, but that was far from the case with The Gray Dot Company. They took the time to understand the inherent opportunities and limitations that were distinct to our business, crafting their recommendations and approach accordingly.
              </p>
              <p>ELIAS GROUHI  ·  Human who shouldn’t be quoted here</p>
            </div>
            <div class="card-testimonial">
              <img src="img/clients/julia-taylor-brown.jpg" alt=" " width="120" height="120" />
              <p class="quote">
                Oftentimes, agencies and consultants will lean on a one-size-fits-all approach of blanket best practices, but that was far from the case with The Gray Dot Company. They took the time to understand the inherent opportunities and limitations that were distinct to our business, crafting their recommendations and approach accordingly.
              </p>
              <p>ELIAS GROUHI  ·  Human who shouldn’t be quoted here</p>
            </div>
        </div>
    </div>
  </section>


<section class="bg-grey">
  <div class="ipu">
        <div class="align-center">
            <p class="prehead">As featured on</p>
          <div class="flex-wrap margin-l logos">
            <img src="img/logos/logo_slate.svg" alt="Slate" title="Slate" width="500" height="255" />
            <img src="img/logos/logo_women-in-tech-seo.svg" alt="Women in Tech SEO" title="Women in Tech SEO" width="500" height="255" />
            <img src="img/logos/logo_oncrawl.svg" alt="Oncrawl" title="Oncrawl" width="500" height="255"/>
            <img src="img/logos/logo_moz.svg" alt="MOZ" title="MOZ" width="500" height="255" />
            <img src="img/logos/logo_sitebulb.svg" alt="Sitebulb" title="Sitebulb" width="500" height="255" />
            <img src="img/logos/logo_screamingfrog.svg" alt="ScreamingFrog" title="ScreamingFrog" width="500" height="255" />
            <img src="img/logos/logo_traffic-think-tank.svg" alt="Traffic Think Tank" title="Traffic Think Tank" width="500" height="255" />
            <img src="img/logos/logo_search-engine-land.svg" alt="Search Engine Land" title="Search Engine Land" width="500" height="255" />
            <img src="img/logos/logo_clearscope.svg" alt="Clearscope" title="Clearscope" width="500" height="255" />
          </div>
        </div>
    </div>
  </section>


  <section class="align-middle img-left">
    <div class="ipu">
        <div>
            <h2 class="title">Connect the dots with us.</h2>
            <p>We’ll help craft, teach, and carry out SEO roadmaps that check all the boxes.</p>
            <a href="/contact" class="btnPrimary">TALK TO AN EXPERT</a>
        </div>
        <div>
          <img src="img/illustrations/il_gdc-3.png" alt=" " width="480" height="280" />
        </div>
    </div>
  </section>

<!--  <StoryblokComponent blok={story.content} /> -->
</BaseLayout>
