---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { transformImageSrc } from "../utils/imageUtils";

const sbApi = useStoryblokApi();
const { data } = await sbApi.get("cdn/stories/home", {
  version: "draft",
  resolve_links: "url",
  resolve_relations: ['featured_blogs.blogs'],
});

const story = data.story;
const storySEO = {
  title: story.content.page_title,
  description: story.content.meta_description,
  ogImage: story.content.og_image?.filename,
  metaRobots: story.content.noindex
};

const logoCarousel = story.content.body.find(blok => blok.component === 'carousel');
const featuredBlogs = story.content.body.find(blok => blok.component === 'featured_blogs');

---

<BaseLayout
  title={storySEO.title}
  description={storySEO.description}
  ogImage={storySEO.ogImage}
  metaRobots={storySEO.metaRobots}
>

<section class="hero">
  <div class="ipu">
        <div>
            <h1>Tomorrow's marketing, today.</h1>
            <p>We're a modern data and search marketing agency keeping brands two steps ahead in a landscape where flux is the only constant.</p>
            <a href="/contact" class="btnPrimary">Connect with an expert</a>
        </div>
        <div class="img-hero img-hero-home">
          <img src="img/illustrations/img_home-hero.png" width="712" height="512" alt="decorative shapes" />
        </div>
    </div>
  </section>


<section class="align-center">
  <div class="ipu">
        <div>
            <h2>The difference is in the data.</h2>
            <p>Cut-and-paste formulas are falling short, pay-to-play is getting pricey, and search has SEOs scratching their heads. Is digital marketing dead? Far from it.</p> 
      <p><strong>Our intelligence-first approach taps into game-changing insights about your audience, brand, and market — making them the heart of meaningful strategies that break through the "meh."</strong></p>
        </div>
    </div>
  </section>


<section class="bg-grey inner-section">
  <div class="ipu">
        <div>
          <p class="prehead">WHAT WE DO</p>
            <h2>Building solutions. <br />Breaking silos.</h2>
            <p>Data, market intelligence, and search marketing don't live in a vacuum. <br />We connect the dots between disciplines to solve problems, find answers, and spark growth.</p>
        </div>

        <div class="flex-wrap wrap-three services li-bold">
          <div class="col-flex-row">
            <img class="illustration" src="img/icons/ic_category-marketing_strategy.svg" alt="decorative" width="64" height="64" />
            <div>
                <h3>Strategy</h3>
                <ul class="services-list">
                  <li><a href="/services/seo">SEO Consulting ></a></li>
                  <li><a href="/services/paid-search">PPC Consulting ></a></li>
                  <li><a href="/services/content-marketing">Content Marketing ></a></li>
                  <li><a href="/digital-market-intelligence">Market Intelligence ></a></li>
                  <li>Competitive Research</li>
                </ul>
            </div>
          </div>

          <div class="col-flex-row">
            <img class="illustration" src="img/icons/ic_category-marketing_tech.svg" alt="decorative" width="64" height="64" />
            <div>
                <h3>Tech</h3>
                <ul class="services-list">
                  <li>TECHNICAL SEO</li>
                  <li>JAVASCRIPT SEO</li>
                  <li>WEB MIGRATIONS</li>
                  <li>STRUCTURED DATA</li>
                  <li>INTERNATIONALIZATION</li>
                </ul>
            </div>
          </div>

          <div class="col-flex-row">
            <img class="illustration" src="img/icons/ic_category-marketing_data.svg" alt="decorative" width="64" height="64" />
            <div>
                <h3>Data</h3>
                <ul class="services-list">
                  <li><a href="/services/analytics-audits">AUDITING ></a></li>
                  <li><a href="/services/dashboarding-storytelling">DASHBOARDING ></a></li>
                  <li><a href="/services/dashboarding-storytelling">DATA STORYTELLING ></a></li>
                  <li>COMPLIANCE & PRIVACY</li>
                  <li>ADVANCED TRACKING SETUP</li>
                </ul>
            </div>
          </div>
      </div>
    </div>
  </section>


  <section class="align-middle img-left">
    <div class="ipu">
        <div>
          <p class="prehead">Our team</p>
            <h2>Powered by fresh <br/>perspective.</h2>
            <p>Gray Dot Co is woman-owned, value-driven, and reimagining what it means to work with a digital marketing agency. Founded by a familiar face in the industry, we bring new ideas to the table as collaborators, not just consultants.</p>
            <a href="/team" class="btnPrimary">Get to know the Co</a>
        </div>
        <div class="add-margin-b">
          <img src={transformImageSrc("https://a-us.storyblok.com/f/1016570/1600x2000/032b910b08/tory-014.jpg")} alt="Tory Gray" />
        </div>
    </div>
  </section>


  {logoCarousel && <StoryblokComponent blok={logoCarousel} />}


  <section class="bg-grey inner-section">
    <div class="ipu" style="padding-bottom: 4rem;">
        <div>
          <p class="prehead">Our clients</p>
            <h2>Lasting partnerships over logos.</h2>
        </div>


    </div>
  </section>


  <section>
    <div class="ipu">
        <div>
          <img src="img/illustrations/il_gdc-8.png" width="480" height="280" alt="decorative shapes" />
        </div>

        <div class="size-two">
          <div class="add-margin-b">
            <p class="prehead">Our work</p>
              <h2>If you've got it, flaunt it.</h2>
          </div>

          <div class="col-flex-row">
            <a class="card-img-text" href="/seo-pm-survey">
              <img class="img-aspect" src={transformImageSrc("https://a-us.storyblok.com/f/1016570/900x586/13f5ff694d/seo-pm-survey-preview.png")} alt="SEO Product Management Survey" width="450" height="293" />
              <h4>What's the State of SEO Product Management?</h4>
              <p>Benchmarking SEO PM adoption, implementation, & sophistication across brands.</p>
              <p class="btnTertiary">See Survey Data ></p>
          </a>
          <a class="card-img-text" href="/resources/js-seo-chrome-extension">
              <img class="img-aspect" src={transformImageSrc("https://a-us.storyblok.com/f/1016570/900x586/4cc1d44318/rde-framed.png")} alt="Rendering Difference Engine Logo" width="450" height="293" />
              <h4>Chrome Extension: Rendering Difference Engine</h4>
              <p>Identify SEO signals added, removed, or altered during JavaScript rendering in a quick, one-click report.</p>
              <p class="btnTertiary">Add to Chrome ></p>
          </a>
          </div>
          <div>
              <a href="/results" class="btnPrimary">See our work</a>
          </div>
      </div>

    </div>
  </section>


  <section class="bg-grey">
    <div class="ipu">
        <div>
          <p class="prehead">DIGITAL MARKET INTELLIGENCE</p>
            <h2>Actionable, accessible consumer insights</h2>
            <p>Answer critical business questions with faster, more accurate, and more comprehensive views of consumer opinions.</p>
            <p>Digital Market Intelligence (DMI) delivers quantifiable insights to power product, marketing, and operations strategies — in a fraction of the time.</p>
            <a href="/digital-market-intelligence" class="btnPrimary">Explore DMI</a>
        </div>
        <div>
          <img src="img/illustrations/il_gdc-6.png" width="480" height="280" alt="decorative shapes" />
        </div>
    </div>
  </section>

  {featuredBlogs && <StoryblokComponent blok={featuredBlogs} />}


<section class="bg-grey align-middle">
  <div class="ipu">
      <div>
        <p class="prehead">RESPONSIBLE AI</p>
          <h2>Some thoughts on using bots.</h2>
          <p>Real value comes from unique and accurate insights, informed by human context. Generative AI repackages what it scrapes from the internet, so the output is never unique — and often, it's not all that accurate.

    <br/><br/>At Gray Dot Co, we use generative AI to expedite while we write, aggregate while we analyze, and catalyze while we strategize. It's a vehicle that can help us get there faster, but it's up to us to do the driving.</p>
          <a href="/ai-impact-seo" class="btnPrimary">See AI tips & ideas</a>
      </div>
      <div>
        <img src="img/illustrations/il_gdc-2.png" width="480" height="280" alt="decorative shapes" />
      </div>
  </div>
</section>


<section class="no-h-padding testimonials">
  <div class="ipu">
      <div class="col-flex-row y-scroll align-center">
            <div class="card-testimonial">
              <img src={transformImageSrc("https://a-us.storyblok.com/f/1016570/120x120/9b1e90b1f2/naresh-venkat.jpeg")} alt="Naresh Venkat, Co-Founder, Osmos" width="120" height="120" />
              <p class="quote">
                Gray Dot Co really knocked it out of the park for us at Osmos. Their approach to SEO and content marketing helped us cut through the noise. They didn't just deliver a cookie-cutter solution - they dug deep, crafted a roadmap that fit us like a glove, and created content that really spoke to our unique selling points. But what really sets them apart is how they've become true partners in our journey. They're not just another vendor - they're an extension of our team, fully invested in our success in this competitive space.              </p>
              <p>Naresh Venkat  ·  Co-Founder, Osmos</p>
            </div>
            <div class="card-testimonial">
              <img src={transformImageSrc("https://a-us.storyblok.com/f/1016570/120x120/59cec8c56a/melanie-almeida.jpeg")} alt="Mélanie Almeida, Growth Manager, Strapi" width="120" height="120" />
              <p class="quote">
                I had the pleasure of hiring the Gray Dot Company twice. Both times, they demonstrated their strong knowledge of technical SEO and amazed my team and me. They don't sugarcoat results. They takes the time to explain, build reports and write best practices for us.<br />
                The communication between my team and Sam was smooth since they both spoke the same language. I recommend hiring the Gray Dot Company for your next technical SEO projects.</p>
              <p>Mélanie Almeida  ·  Growth Manager, Strapi</p>
            </div>
            <div class="card-testimonial">
              <img src={transformImageSrc("https://a-us.storyblok.com/f/1016570/120x120/cab2031148/alex-johnson.jpeg")} alt="Alex Johnson, Director of Consumer Experience, Cherry Creek Mortgage" width="120" height="120" />
              <p class="quote">
                Gray Dot Company provides ongoing SEO strategy and execution regarding content and technical, on-page development. They are now spearheading a nationally focused keyword campaign. Website visibility has increased markedly since the new site launched thanks to The Gray Dot Company's regular communication and holistic approach. Rather than solely focusing on immediate tasks, they also drive long-term planning and growth efforts. Customers can expect wide-ranging benefits.</p>
              <p>Alex Johnson  ·  Director of Consumer Experience, Cherry Creek Mortgage</p>
            </div>
            <div class="card-testimonial">
              <img src={transformImageSrc("https://a-us.storyblok.com/f/1016570/120x120/365fc08580/kristen-edgerton.jpeg")} alt="Kristen Edgerton, Head of Merchandising, Artifact Uprising" width="120" height="120" />
              <p class="quote">
                We hired the Gray Dot Company to conduct an audit of our site and help us identify key optimization opportunities following a larger site migration initiative.             
                Aside from the expertise they brought to the table, I was really wowed by the way in which they took that expertise and mapped it to the unique nuances of our site and business. Gray Dot took the time to understand the inherent opportunities and limitations that were distinct to our business, crafting their recommendations and approach accordingly.</p>
              <p>Kristen Edgerton  ·  Head of Merchandising, Artifact Uprising</p>
            </div>
            <div class="card-testimonial">
              <img src={transformImageSrc("https://a-us.storyblok.com/f/1016570/200x200/cae25c74b2/julia-taylor-brown.jpg")} alt="Julia Taylor-Brown, Head of Content, Culinary & Engagement" width="120" height="120" />
              <p class="quote">
                Tory and the GDC team are some of the smartest, most professional and thoughtful people I have ever worked with. They have the unique ability to marry incredible research skills and data analysis with a deep contextual understanding of what a company needs from SEO at the particular stage of their lifecycle. TGDC uncovered an exciting greenfield for us to shine in an undeveloped niche, giving us a clear and focused path to follow. TGDC is at the top of my referral list for any company building out or focusing their content program. I cannot recommend them highly enough!</p>
              <p>Julia Taylor-Brown  ·  Head of Content, Culinary & Engagement</p>
            </div>
        </div>
    </div>
  </section>


<section class="bg-grey">
  <div class="ipu">
        <div class="align-center">
            <p class="prehead">As featured on</p>
          <div class="flex-wrap margin-l logos">
            <img src="img/logos/logo_slate.svg" alt="Slate" title="Slate" width="500" height="255" />
            <img src="img/logos/logo_women-in-tech-seo.svg" alt="Women in Tech SEO" title="Women in Tech SEO" width="500" height="255" />
            <img src="img/logos/logo_oncrawl.svg" alt="Oncrawl" title="Oncrawl" width="500" height="255"/>
            <img src="img/logos/logo_moz.svg" alt="MOZ" title="MOZ" width="500" height="255" />
            <img src="img/logos/logo_sitebulb.svg" alt="Sitebulb" title="Sitebulb" width="500" height="255" />
            <img src="img/logos/logo_screamingfrog.svg" alt="ScreamingFrog" title="ScreamingFrog" width="500" height="255" />
            <img src="img/logos/logo_traffic-think-tank.svg" alt="Traffic Think Tank" title="Traffic Think Tank" width="500" height="255" />
            <img src="img/logos/logo_search-engine-land.svg" alt="Search Engine Land" title="Search Engine Land" width="500" height="255" />
            <img src="img/logos/logo_clearscope.svg" alt="Clearscope" title="Clearscope" width="500" height="255" />
          </div>
          <a href="/featured" class="btnPrimary">Explore our appearances</a>
        </div>
    </div>
  </section>


  <section class="align-middle img-left">
    <div class="ipu">
        <div>
            <h2 class="title">Connect the dots with us.</h2>
            <p>We'll help craft, teach, and carry out SEO roadmaps that check all the boxes.</p>
            <a href="/contact" class="btnPrimary">TALK TO AN EXPERT</a>
        </div>
        <div>
          <img src="img/illustrations/il_gdc-3.png" width="480" height="280" alt="decorative shapes" />
        </div>
    </div>
  </section>

<!--  <StoryblokComponent blok={story.content} /> -->

<script is:inline type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Gray Dot Co",
    "alternateName": "The Gray Dot Company",
    "url": "https://thegray.company",
    "logo": "https://assets.thegray.company/f/1016570/581x126/f122951287/graydotco.png",
    "telephone": "+1 (720) 593-1855",
    "contactPoint":{
      "url":"https://thegray.company/contact",
      "name":"Contact The Gray Dot Company",
      "description":"Contact the team at The Gray Dot Company to answer questions about how we can help you grow your business. ",
      "telephone":"+1-720-593-1855",
      "email":"hello@thegray.company",
      "contactType":"sales",
      "hoursAvailable":{
        "@type":"OpeningHoursSpecification",
      "name":"The Gray Dot Company Hours",
            "closes":"17:00:00",
            "dayOfWeek":[
              "Friday","Monday","Tuesday","Wednesday","Thursday","Friday"
            ],
            "opens":"09:00:00"
          }
        },
        "founder":{
          "@type": "Person",
          "name": "Tory Gray",
          "url": "https://thegray.company/team#tory-gray",
          "@id": "https://thegray.company/team#tory-gray/#person"
        },
        "foundingDate": 2016,
        "sameAs": [
          "https://bsky.app/profile/thegray.company",
          "https://www.linkedin.com/company/graydotco/",
          "https://www.youtube.com/@GrayDotCo"
        ] 
  }
  </script>
</BaseLayout>
