---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../style/global.css";
import { transformImageSrc } from "../utils/imageUtils";

const sbApi = useStoryblokApi();
const { data } = await sbApi.get("cdn/stories/team", {
  version: "draft",
});

const story = data.story;
const storySEO = {
  title: story.content.page_title,
  description: story.content.meta_description,
  ogImage: story.content.og_image?.filename,
  metaRobots: story.content.noindex,
};
---

<BaseLayout
  title={storySEO.title}
  description={storySEO.description}
  ogImage={storySEO.ogImage}
  metaRobots={storySEO.metaRobots}
>
  <StoryblokComponent blok={story.content} />

  <section id="our-leadership" class="inner-section">
    <div class="ipu">
      <div>
        <h2>Our leadership</h2>
      </div>

      <div class="flex-wrap wrap-two">
        <a class="card-text-on-img" href="#" title=" ">
          <img
            src={transformImageSrc("https://a-us.storyblok.com/f/1016570/1600x2000/a1f79dbb85/sam-_-tory-008.jpg")}
            alt="Tory Gray, CEO of Gray Dot Co"
            width="800"
            height="1000"
          />
          <div>
            <h3>Tory Gray</h3>
            <p>
              <strong>Founder, CEO</strong><br />Toronto,
              Ontario, Canada
            </p>
          </div>
        </a>
        <a class="card-text-on-img" href="#" title=" ">
          <img
            src={transformImageSrc("https://a-us.storyblok.com/f/1016570/2003x3000/f1f65a988d/heather-kaeowicien.jpg")}
            alt="Heather Kaeowicien, Director of Product Management of Gray Dot Co"
            width="668"
            height="1000"
          />
          <div>
            <h3>Heather Kaeowicien</h3>
            <p>
              <strong>Director of Product Management</strong><br />Tampa,
              Florida, United States
            </p>
          </div>
        </a>
        <a class="card-text-on-img" href="#" title=" ">
          <img
            src={transformImageSrc("https://a-us.storyblok.com/f/1016570/500x500/b1345251b5/elias-grouhi-headshot.jpeg")}
            alt="Elias Grouhi, Director of Brand & Content Strategy of Gray Dot Co"
            width="500"
            height="500"
          />
          <div>
            <h3>Elias Grouhi</h3>
            <p>
              <strong>Director of Brand & Content Strategy</strong><br />Denver,
              Colorado, United States
            </p>
          </div>
        </a>
        <a class="card-text-on-img" href="#" title=" ">
          <img
            src={transformImageSrc("https://a-us.storyblok.com/f/1016570/540x540/abebf1bfd0/anne-berlin.png")}
            alt="Anne Berlin, Data Intelligence and Learning Culture Champion of Gray Dot Co"
            width="668"
            height="1000"
          />
          <div>
            <h3>Anne Berlin</h3>
            <p>
              <strong>Data Intelligence and Learning Culture Champion</strong><br />West Virginia, United States
            </p>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section id="our-experts" class="inner-section no-t-padding">
    <div class="ipu">
      <div>
        <h2>Our experts</h2>
      </div>

      <div class="flex-wrap wrap-three">
        <div>
          <img
            src="img/team/img_caesar-barba-ppc-analytics-consultant.jpg"
            alt="Caesar Barba, Principal PPC & Analytics Consultant of Gray Dot Co"
            width="300"
            height="300"
          />
          <h3>Caesar Barba</h3>
          <p>
            <strong>Principal PPC & Analytics Consultant</strong><br />Denver,
            Colorado, USA
          </p>
        </div>
        <div>
          <img
            src="img/team/img_colin-gray.jpg"
            alt="Colin Gray, Co-Founder of Gray Dot Co"
            width="300"
            height="300"
          />
          <h3>Colin Gray</h3>
          <p>
            <strong>Co-Founder, Board Member</strong><br />Toronto, Ontario,
            Canada
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="ipu">
      <div class="align-center">
        <p class="prehead">As featured on</p>
        <div class="flex-wrap margin-l logos">
          <img
            src="img/logos/logo_slate.svg"
            alt="Slate"
            title="Slate"
            width="500"
            height="255"
          />
          <img
            src="img/logos/logo_women-in-tech-seo.svg"
            alt="Women in Tech SEO"
            title="Women in Tech SEO"
            width="500"
            height="255"
          />
          <img
            src="img/logos/logo_oncrawl.svg"
            alt="Oncrawl"
            title="Oncrawl"
            width="500"
            height="255"
          />
          <img
            src="img/logos/logo_moz.svg"
            alt="MOZ"
            title="MOZ"
            width="500"
            height="255"
          />
          <img
            src="img/logos/logo_sitebulb.svg"
            alt="Sitebulb"
            title="Sitebulb"
            width="500"
            height="255"
          />
          <img
            src="img/logos/logo_screamingfrog.svg"
            alt="ScreamingFrog"
            title="ScreamingFrog"
            width="500"
            height="255"
          />
          <img
            src="img/logos/logo_traffic-think-tank.svg"
            alt="Traffic Think Tank"
            title="Traffic Think Tank"
            width="500"
            height="255"
          />
          <img
            src="img/logos/logo_search-engine-land.svg"
            alt="Search Engine Land"
            title="Search Engine Land"
            width="500"
            height="255"
          />
          <img
            src="img/logos/logo_clearscope.svg"
            alt="Clearscope"
            title="Clearscope"
            width="500"
            height="255"
          />
        </div>
        <a href="/featured" class="btnPrimary">Explore our appearances</a>
      </div>
    </div>
  </section>

  <section id="contact-us" class="bg-grey align-center">
    <div class="ipu">
      <div>
        <h2>Work with us</h2>
        <p>
          We'll help craft, teach, and carry out SEO roadmaps that check all the
          boxes.
        </p>
        <a href="/contact" class="btnPrimary">CONTACT AN EXPERT</a>
      </div>
    </div>
  </section>

  <script is:inline type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "AboutPage",
      "url": "https://thegray.company/team",
      "name": "Meet the Team at The Gray Dot Company",
      "description": "Learn more about The Gray Dot Company, and the team who runs the show: from SEO to strategy to execution, we do it all.",
      "mainEntity": {
        "@context": "http://schema.org",
        "@type": "ItemList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": "1",
            "item": {
              "@type": "Person",
              "name": "Tory Gray",
              "url": "https://thegray.company/team#tory-gray",
              "image": "https://a-us.storyblok.com/f/1016570/1600x2000/a1f79dbb85/sam-_-tory-008.jpg",
              "sameAs": [
                "https://www.linkedin.com/in/torygray/",
                "https://bsky.app/profile/tory.thegray.co"
              ],
              "jobTitle": "Founder & CEO",
              "worksFor": {
                "@type": "Organization",
                "name": "The Gray Dot Company",
                "@id": "https://thegray.company/#organization"
              },
              "affiliation": {
                "@type": "Organization",
                "name": "Women in Tech SEO",
                "logo": "https://images.ctfassets.net/g5372xopg3wy/TIIiyy40u7QV9QkImwRRR/ef9ee577397c2a1f625f36b00d8e4053/Women_in_Tech_SEO_Logo.jpg",
                "url": "https://www.womenintechseo.com/",
                "description": "Women in Tech SEO is a global community aimed for women in the Technical SEO field, to discuss, share and learn from one another. The aim is to empower each other in a positive, inspiring and beneficial way, and to help build our network and accelerate our careers.",
                "sameAs": [
                  "https://www.facebook.com/groups/techseowomen/",
                  "https://www.instagram.com/womenintechseo/"
                ],
                "founder": {
                  "@type": "Person",
                  "name": "Areej AbuAli",
                  "url": "https://www.areejabuali.com/",
                  "image": "https://www.areejabuali.com/static/42f7cf0ab053d1a1ef2d4b93ec1dbecf/d6bfc/67421624_10217705728106998_4524261804498485248_o.jpg",
                  "sameAs": "https://www.linkedin.com/in/areejabuali/"
                }
              }
            }
          },
          {
            "@type": "ListItem",
            "position": "2",
            "item": {
              "@type": "Person",
              "name": "Sam Torres",
              "url": "https://thegray.company/team#sam-torres",
              "@id": "https://thegray.company/team#sam-torres/#person",
              "image": "https://a-us.storyblok.com/f/1016570/1600x2000/49af8a6226/sam-_-tory-007.jpg",
              "sameAs": [
                "https://www.linkedin.com/in/samantha-torres-atl/",
                "https://bsky.app/profile/sam.thegray.co"
              ],
              "jobTitle": "Chief Digital Officer",
              "worksFor": {
                "@type": "Organization",
                "name": "The Gray Dot Company",
                "@id": "https://thegray.company/#organization"
              },
              "affiliation": {
                "@type": "Organization",
                "name": "Women in Tech SEO",
                "logo": "https://images.ctfassets.net/g5372xopg3wy/TIIiyy40u7QV9QkImwRRR/ef9ee577397c2a1f625f36b00d8e4053/Women_in_Tech_SEO_Logo.jpg",
                "url": "https://www.womenintechseo.com/",
                "founder": {
                  "@type": "Person",
                  "name": "Areej AbuAli"
                }
              }
            }
          },
          {
            "@type": "ListItem",
            "position": "3",
            "item": {
              "@type": "Person",
              "name": "Colin Gray",
              "url": "https://thegray.company/team#colin-gray",
              "image": "https://thegray.company/img/team/img_colin-gray.jpg",
              "sameAs": [
                "https://www.linkedin.com/in/colinta/",
                "https://twitter.com/colinta"
              ],
              "jobTitle": "Co-Founder, Board Advisor"
            }
          }
        ]
      }
    }
  </script>
</BaseLayout>
