---
const { blog, slug } = Astro.props
---
 
<a class="card-img-text card-grey" href={`/blog/${slug}`} title={`${blog.title}`}>
  <img class="img-aspect" src={`${blog.featured_image.filename}/m/360x240`} alt={blog.featured_image.alt} width="450" height="293" />
  <h3>{blog.title}</h3>
  <p>{blog.teaser}</p>
  <p class="btnTertiary">Read the blog ></p>
</a>