---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../style/global.css";

export interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  metaRobots?: boolean;
}

function removeTrailingSlash(str: string) {
  return str.replace(/\/+$/, '');
}

const { title, description, ogImage, metaRobots } = Astro.props;

const canonicalUrl = removeTrailingSlash(new URL(Astro.url.pathname, Astro.site).toString());

const DEFAULT = {
  TITLE: "Gray Dot Co is the Best",
  DESCRIPTION:
    "From high-growth brands to regulated industries, companies trust the Gray Dot Company to develop, accelerate, and scale their digital strategies.",
  OGIMAGE: "/og_placeholder.png"
};

const _title = title ?? DEFAULT.TITLE;
const _description = description ?? DEFAULT.DESCRIPTION;
const _image = ogImage ?? DEFAULT.OGIMAGE;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalUrl} />

<!-- Primary Meta Tags -->
<title>{_title}</title>
<meta name="author" content="Gray Dot Co" />
<meta name="title" content={_title} />
<meta name="description" content={_description} />
{ metaRobots && (
  <meta name="robots" content="noindex">
)}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={_title} />
<meta property="og:description" content={_description} />
<meta property="og:image" content={_image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={_title} />
<meta property="twitter:description" content={_description} />
<meta property="twitter:image" content={_image} />
