---
const { testimonial } = Astro.props;
---

<div class="card-testimonial">
  <img src={`${testimonial.headshot.filename}/m/120x120`} alt={testimonial.headshot.alt} width="120" height="120" />
  <p class="quote">
    {testimonial.short_quip}
  </p>
  <p>{testimonial.name} · {testimonial.title}</p>
</div>
