---
import { useStoryblokApi } from '@storyblok/astro'
import { Image } from "astro:assets";
import fullLogo from "../images/full_logo.png";

const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/config', {
  version: 'draft',
  resolve_links: 'url',
})

const nav_items = data.story.content.header_menu;
---
 
<header class="w-full bg-[#f7f6fd] pb-8" x-data="{ openMenu : false }">
  <div class="container h-full mx-auto pt-3">
    <div class="flex items-center justify-end pb-3">
      <p class="text-grey text-sm font-extralight">
        <a href="/about" title="Learn About Gray Dot Co" class="text-grey pr-3">About</a>
        |
        <a href="/resources" title="Gray Dot Co Free Resources" class="text-grey px-3">Resources</a>
        |
        <a href="/contact" title="Contact Gray Dot Co" class="text-grey pl-3">Contact Us</a>
      </p>
    </div>

    <div class="mx-auto flex items-center justify-between">
      <a href="/">
        <Image src={fullLogo} alt="Gray Dot Co Logo" height="40"/>
      </a>
      <nav>
        <button @click="openMenu = !openMenu" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>

        <div class="w-full" :class="openMenu ? 'visible md:hidden' : 'hidden'">
          <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          {
            nav_items.map((menu) => (

                <li><a href={`/${menu.link.story.url}`} class="flex items-center gap-2 rounded-md font-bold uppercase">{menu.link.story.name}</a></li>

            ))
          }
          </ul>
        </div>

        <div x-popover:group class="hidden md:flex items-center justify-center gap-10">
            {
              nav_items.map((menu) => (
                // This menu item has children
                menu.children.length ? (
                  <div x-data x-popover class="relative">
                    <button x-popover:button type="button" class="flex items-center gap-2 rounded-md font-bold uppercase text-teal">
                      {menu.link.story.name} ▼
                    </button>

                    <div
                      x-popover:panel
                      x-cloak
                      x-transition.origin.top.left
                      class="absolute left-0 mt-4 w-40 bg-white rounded-md shadow-md">
                      {
                        menu.children.map((child) => (
                          <a href={`/${child.link.story.url}`} class="block w-full px-4 py-2.5 first-of-type:rounded-t-md last-of-type:rounded-b-md text-left text-sm hover:bg-gray-50 disabled:text-gray-500 font-bold uppercase" >
                            {child.link.story.name}
                          </a>
                        ))
                      }
                    </div>
                </div>
                ) : (
                  // This menu item does not have children
                  <a href={`/${menu.link.story.url}`} class="flex items-center gap-2 rounded-md font-bold uppercase">{menu.link.story.name}</a>
                )
              ))
            }
        </div>
      </nav>
    </div>
  </div>
</header>
