---
import { useStoryblokApi } from "@storyblok/astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import '@fontsource/dm-serif-display/400.css';
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';

const { title, description, ogImage, metaRobots, customStructuredData } = Astro.props;

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories/config", {
  version: import.meta.env.DEV ? "draft" : "published",
  resolve_links: "url",
});
---

<html lang="en">
  <head>
    <BaseHead 
      title={title} 
      description={description} 
      ogImage={ogImage} 
      metaRobots={metaRobots} 
      customStructuredData={customStructuredData}
    />
    <script defer src="https://unpkg.com/@alpinejs/ui@3.13.5-beta.0/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/focus@3.13.5/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.13.5/dist/cdn.min.js"></script>
    <script is:inline type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7260537.js"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
    </script>
    <script is:inline>
      (function (w, d, s, l, i) {
        console.log("GTM");
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KLTNKMB");
    </script>
  </head>
  <body>
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KLTNKMB"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    <div class="marquee">
      <p><a href="https://chromewebstore.google.com/detail/rendering-difference-engi/dhcimplbimmmpjpiolnmdjdchnknmend">NEW! Download our free Chrome Extension for JavaScript SEO Audits.</a></p>
    </div>
    <Header />
      <main><slot /></main>
    <Footer />
  </body>
</html>
