---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../style/global.css";

const sbApi = useStoryblokApi();
const { data } = await sbApi.get("cdn/stories/industry", {
  version: "draft",
});

const story = data.story;
const storySEO = {
  title: story.content.page_title,
  description: story.content.meta_description,
  ogImage: story.content.og_image?.filename,
  metaRobots: story.content.noindex,
};
---

<BaseLayout
  title={storySEO.title}
  description={storySEO.description}
  ogImage={storySEO.ogImage}
  metaRobots={storySEO.metaRobots}
>
    <StoryblokComponent blok={story.content} />

    <section>
      <div class="ipu">
        <div>
          <h2 class="blok-title">Business Solutions</h2>
        </div>
        <div class="card-teal li-arrow services-list">
          <ul>
            <li><a href="/industry/ecommerce">eCommerce</a></li>
            <li><a href="/industry/saas">SaaS</a></li>
            <li><a href="/industry/dtc">D2C</a></li>
            <li><a href="/industry/tech-startups">Tech Startups</a></li>
            <li>
              <a href="/industry/regulated-industries">Regulated Industries</a>
            </li>
          </ul>
        </div>
        <div class="card-teal li-arrow services-list">
          <p><strong>Get business-critical insights</strong></p>
          <ul>
            <li>Maximize ROI</li>
            <li>Optimize performance</li>
            <li>Increase visibility and control</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="inner-section align-center">
      <div class="ipu">
        <div>
          <h2 class="blok-title">Solutions for Regulated Industries</h2>
        </div>

        <div>
          <div class="card-grid">
            <div>
              <a href="/industry/fintech">
                <img
                  class="illustration"
                  src="https://a-us.storyblok.com/f/1016570/80x80/9686caa430/ic_finance.svg"
                  alt=""
                  width="64"
                  height="64"
                />
                <p class="inner-highlight">Fintech</p></a
              >
            </div>
            <div>
              <a href="/industry/healthtech">
                <img
                  class="illustration"
                  src="https://a-us.storyblok.com/f/1016570/80x80/58fae50b95/ic_health-tech.svg "
                  alt=""
                  width="64"
                  height="64"
                />
                <p class="inner-highlight">Healthtech</p>
              </a>
            </div>
            <div>
              <a href="/industry/legaltech">
                <img
                  class="illustration"
                  src="https://a-us.storyblok.com/f/1016570/80x80/58fae50b95/ic_health-tech.svg "
                  alt=""
                  width="64"
                  height="64"
                />
                <p class="inner-highlight">Legaltech</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
</BaseLayout>
