---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const sbApi = useStoryblokApi();
const { data } = await sbApi.get("cdn/stories/industry/not-for-profit", {
  version: "draft",
});

const story = data.story;
const storySEO = {
  title: story.content.page_title,
  description: story.content.meta_description,
  ogImage: story.content.og_image?.filename,
  metaRobots: story.content.noindex,
};
---

<BaseLayout
  title={storySEO.title}
  description={storySEO.description}
  ogImage={storySEO.ogImage}
  metaRobots={storySEO.metaRobots}
>
<StoryblokComponent blok={story.content} />
<section class="bg-grey">
    <div class="container">
        <div class="align-center">
            <h2>A Few of Our Not-for-Profit Clients</h2>
            <div class="flex-wrap logo-carousel">
                <img src="https://a-us.storyblok.com/f/1016570/200x200/a39fff6f28/thehungerproject-logo-box-400px.png" alt="The Hunger Project" width="200" height="200" />
                <img src="https://a-us.storyblok.com/f/1016570/243x252/11a670275d/popup-birthday-nfp-logo.png" alt="Pop Up Birthday" width="243" height="252" />
                <img src="https://a-us.storyblok.com/f/1016570/250x251/c43111eb70/cra-logo-30th-anniversary_250p.png" alt="Colorado River Alliance" width="250" height="251"/>
                <img src="https://a-us.storyblok.com/f/1016570/279x78/cd7ae6d1e0/lymphatic-education-research-network-new-york-ny-logo.png" alt="Lymphatic Education & Research Network" width="279" height="78" />
            </div>
        </div>
    </div>
</section>
</BaseLayout>
